.pokemon img {
  width: 100px;
}

.pokemon {
  border: 1px solid blue;
  border-radius: 2em;
  width: 13em;
  margin: 5px;
  cursor: pointer;
}

.pokemon:hover {
  transform: scale(1.08);
  background-color: greenyellow;
}